/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1730px */
/**************************/

@media (max-width: 110rem) {
    .lineup-box {
        padding: 3rem 10rem;
    }

    .ticket-box {
        padding: 4rem 20rem;
    }

    .newspaper-box {
        margin: 5rem 20rem;
    }
}

/**************************/
/* BELOW 1664px */
/**************************/
@media (max-width: 104rem) {
    .lineup-box {
        padding: 3rem 8rem;
    }

    .lineup-img-box {
        padding: 12rem;
    }

    .ticket-box {
        padding: 4rem 15rem;
    }

    .newspaper-box {
        margin: 5rem 18rem;
    }
}

/**************************/
/* BELOW 1600px */
/**************************/
@media (max-width: 100rem) {
    html {
        /* 9px / 16px  */
        font-size: 60%;
    }

    .hero-description {
        font-size: 1.8rem;
    }

    .ticket-box {
        padding: 4rem 12rem;
    }

    .ticket-type {
        font-size: 3.3rem;
    }

    .cta-ticket h3 {
        padding: 1.2rem;
        font-size: 2.2rem;
    }

    .newspaper-subscribe-text-box h1 {
        font-size: 3.8rem;
    }

    .subscribe-button {
        font-size: 2.2rem;
        width: 100%;
    }
}


/**************************/
/* BELOW 1344px */
/**************************/

@media (max-width: 84rem) {
    html {
        /* 9px / 16px  */
        font-size: 56.5%;
    }

    .second-line-header {
        padding: 1.5rem 8rem;
    }

    .lineup-box {
        padding: 3rem 6rem;
    }


    .ticket-type {
        font-size: 3rem;
    }

    .section-hero {
        padding: 16rem 29rem 26rem 29rem;
    }

    .gallery-grid-box {
        padding: 2rem 12rem;
    }

    .newspaper-box {
        margin: 5rem 14rem;
    }

    .newspaper-subscribe-text-box h1 {
        font-size: 3.6rem;
    }

    .follow-social-media-icons-box {
        gap: 4rem;
    }

}

/**************************/
/* BELOW 1216px */
/**************************/
@media (max-width: 76rem) {
    html {
        /* 9px / 16px  */
        font-size: 54%;
    }

    .second-line-header {
        padding: 1.5rem 6rem;
    }

    .ticket-price-range {
        font-size: 2.4rem;
    }

    .gallery-grid-box {
        padding: 2rem 10rem;
    }

    .subscribe-button {
        font-size: 2rem;
    }
}

/**************************/
/* BELOW 1168px */
/**************************/
@media (max-width: 73rem) {
    html {
        /* 9px / 16px  */
        font-size: 50%;
    }

    .lineup-box {
        padding: 3rem 3rem;
    }

    .lineup-img-box {
        padding: 10rem;
    }

    .ticket-box {
        padding: 4rem 12rem;
    }

    .ticket-type {
        font-size: 2.8rem;
    }

    .ticket-price-range {
        font-size: 2.2rem;
    }

    .gallery-grid-box {
        padding: 2rem 6rem;
    }

    .newspaper-box {
        margin: 5rem 10rem;
    }
}

/**************************/
/* BELOW 1072px */
/**************************/
@media (max-width: 67rem) {
    html {
        /* 9px / 16px  */
        font-size: 50%;
    }

    .first-line-header {
        padding: 1rem 8rem 1rem 13rem;
    }

    .second-line-header {
        padding: 1.5rem 4rem;
    }

    .section-hero {
        padding: 16rem 20rem 26rem 20rem;
    }

    .right-header-menu {
        gap: 2.4rem;
    }

    .ticket-box {
        margin: 0 auto;
        padding: 4rem 8rem;
    }

    .ticket-price-range {
        font-size: 2.2rem;
    }

    .newspaper-box {
        margin: 5rem 6rem;
    }

}

/**************************/
/* BELOW 960px */
/**************************/

@media (max-width: 60rem) {

    html {
        /* 9px / 16px  */
        font-size: 48.5%;
    }


    /* MOBILE NAVIGATION */

    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        display: none;
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .primary-heading {
        font-size: 6.2rem;
        padding: 2rem;
    }


    .primary-heading::before {
        top: -44%;
    }

    .lineup-box {
        padding: 3rem 0;
    }

    .ticket-box {
        padding: 4rem 6rem;
    }

    .ticket-type {
        font-size: 5rem;
        font-weight: 400;
    }

    .ticket-price-range {
        font-size: 2rem;
        font-weight: bolder;
    }

    .cta-ticket h3 {
        font-weight: 700;
    }

    .gallery-grid-box {
        padding: 2rem 2rem;
        column-gap: 2.8rem;
    }

    .newspaper-subscribe-text-box {
        padding: 5rem 3rem;
    }

}

/**************************/
/* BELOW 864px */
/**************************/
@media (max-width: 54rem) {

    html {
        /* 9px / 16px  */
        font-size: 46.5%;
    }

    .container {
        padding: 6rem 8rem;
    }

    .section-hero {
        padding: 16rem 16rem 26rem 16rem;
        margin: 0 auto;
    }


    .primary-heading {
        font-size: 6.2rem;
    }

    .primary-heading::before {
        top: -60%;
        right: 65%;
        transform: rotate(0);
        padding: 1rem;
        font-size: 2.2rem;
    }

    .primary-heading::after {
        top: -60%;
        right: 48%;
        transform: rotate(0);
        padding: 1rem;
        font-size: 2.2rem;
    }

    .lineup-img-box {
        padding: 12rem 6rem;
    }

    .newspaper-box {
        margin: 5rem 3rem;
    }

    .newspaper-subscribe-text-box h1 {
        font-size: 4rem;
        text-align: center;
    }

    .footer-links-box {
        column-gap: 10rem;
    }

    .donors-box img {
        width: 40%;
    }

    .donors-box .smaller-logo {
        width: 60%;
    }

}

/**************************/
/* BELOW 768px */
/**************************/
@media (max-width: 48rem) {
    .first-line-header {
        padding: 1rem 8rem;
    }

    .social-media-icons {
        gap: 1.8rem;
    }

    .primary-heading::before,
    .primary-heading::after {
        font-size: 1.8rem;
    }

    .festival-title {
        font-size: 2.8rem;
    }

    .primary-heading {
        font-size: 5.8rem;
    }

    .section-secondary-heading {
        padding: 0 6rem;
    }

    .btn-cta:link,
    .btn-cta:visited {
        padding: 1.4rem
    }

    .lineup-box {
        grid-template-columns: 1fr;
        row-gap: 3rem;
        padding: 0 8rem;
        margin-bottom: 3rem;
    }

    .lineup-img-box {
        padding: 20rem 6rem;
    }

    .lineup-img-1,
    .lineup-img-6,
    .lineup-img-7 {
        background-position: center;
    }

    .lineup-artist-name-first-line,
    .lineup-artist-name-second-line {
        font-size: 4.8rem;
    }

    .lineup-artist-nationality-first-line,
    .lineup-artist-nationality-second-line {
        font-size: 2.4rem;
    }

    .ticket-box {
        grid-template-columns: 1fr;
        row-gap: 4rem;
        padding: 4rem 14rem;
    }

    .ticket-price-range {
        font-size: 2.8rem;
    }

    .cta-ticket h3 {
        font-size: 2.6rem;
    }

    .gallery-grid-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.6rem
    }

    .newspaper-box {
        margin: 5rem;
    }

    .newspaper-box {
        grid-template-columns: 1fr;
    }

    .newspaper-img-box {
        height: 30rem;
        grid-row: 1;
    }

    .email-fill {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .cta-form input,
    .subscribe-button {
        width: 88%;
    }

    .donors-box {
        padding: 0 8rem;
    }

    .subscribe-button {
        grid-column: span 2;
        padding: 1rem;
        font-size: 3rem;
    }

    .footer-links-box {
        column-gap: 8rem;
    }

}

/**************************/
/* BELOW 608px */
/**************************/

@media (max-width: 38rem) {


    .first-line-header {
        justify-content: center;
    }

    .second-line-header {
        padding: 1.5rem 3rem;
    }

    .festival-title {
        font-size: 2.4rem;
    }

    .section-secondary-heading {
        padding: 0 2rem;
    }

    .social-media-icons {
        display: none;
    }

    .section-hero {
        padding: 12rem 6rem;
    }

    .container {
        padding: 6rem;
    }

    .lineup-artist-name-first-line,
    .lineup-artist-name-second-line {
        font-size: 3.6rem;
    }

    .ticket-box {
        padding: 4rem 10rem;
    }

    .ticket-type {
        font-size: 3.6rem;
    }

    .ticket-price-range {
        font-size: 2.4rem;
    }

    .gallery-grid-box {
        grid-template-columns: 1fr;
        padding: 0 6rem;
    }

    .gallery-img-box {
        height: 33rem;
    }

    .gallery-img-4 {
        background-position: top;
    }

    .newspaper-subscribe-text-box h1 {
        font-size: 3.4rem;
    }

    .follow-social-media-img {
        height: 3rem;
    }

    .follow-social-media-icons-box {
        gap: 3rem;
    }

    .footer-links-box {
        column-gap: 4rem;
    }

    .footer-title {
        font-size: 2rem;
    }

    .footer-links {
        font-size: 1.6rem;
    }

    .footer-text {
        font-size: 1.2rem;
    }

}

/**************************/
/* BELOW 480px */
/**************************/

@media (max-width: 30rem) {

    .second-line-header {
        padding: 1.5rem;
    }

    .festival-date {
        display: none;
    }

    .primary-heading {
        font-size: 4rem;
    }

    .primary-heading::before,
    .primary-heading::after {
        font-size: 1.4rem;
    }

    .section-secondary-heading {
        padding: 0;
    }

    .city-link:link,
    .city-link:visited {
        font-size: 2.8rem;
    }

    .btn-cta:link,
    .btn-cta:visited {
        font-size: 2.4rem;
        word-spacing: 0.3rem;
    }

    .festival-location {
        margin-bottom: 4rem;
    }

    .hero-description {
        margin-top: 4rem;
        font-size: 1.5rem;
    }

    .lineup-img-box {
        padding: 14rem 8rem;
    }

    .lineup-box {
        padding: 0 2rem;
    }

    .ticket-box {
        padding: 4rem;
    }

    .ticket-type {
        font-size: 3.6rem;
        font-weight: 600;
    }

    .gallery-grid-box {
        padding: 0 3rem;
    }

    .newspaper-img-box {
        height: 25rem;
    }

    .newspaper-box {
        margin: 0;
    }

    .cta-form {
        column-gap: 2.8rem;
    }

    .newspaper-subscribe-text-box {
        padding: 5rem 2rem;
    }

    .newspaper-subscribe-text-box h1 {
        font-size: 3.2rem;
    }

    .cta-form input,
    .subscribe-button {
        width: 100%;
    }

    .subscribe-button {
        width: 100%;
    }

    .donors-box {
        padding: 0 2rem;
    }

    .donors-box img {
        width: 50%;
    }

    .donors-box .smaller-logo {
        width: 70%;
    }

    .follow-us-text {
        font-size: 2.2rem;
    }

    .follow-social-media-img {
        height: 2.6rem;
    }

    .footer-links {
        font-size: 1.4rem;
    }

}

/**************************/
/* BELOW 368px */
/**************************/

@media (max-width: 23rem) {

    .festival-title {
        font-size: 2.2rem;
    }

    .primary-heading {
        font-size: 3.4rem;
    }

    .container {
        padding: 6rem 2rem;
    }

    .follow-social-media-img {
        height: 2.2rem;
    }

    .footer-links-box {
        column-gap: 2.4rem;
    }
}