/**************************/
/* HEADER */
/**************************/

.first-line-header {
    justify-content: space-between;
    padding: 1rem 30rem;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 118, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.social-media-icons {
    gap: 2.6rem;
    filter: brightness(0.8) invert(1);
}

.social-media-link:hover,
.social-media-link:active {
    opacity: 0.7;
}



.social-media-img {
    height: 2.6rem;
    /* filter: brightness(0);
    opacity: 50%; */
}

.second-line-header {
    justify-content: space-between;
    padding: 1.5rem 13rem 1.5rem 30rem;
    background-color: #f6ecec;
}

.left-header-title {
    gap: 1.6rem;
}

.festival-title {
    font-size: 3.3rem;
    font-weight: 700;
    background-color: rgb(131, 58, 180);
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 118, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: anim-lineup 1s ease-out;
}

@keyframes anim-lineup {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.festival-date {
    background-color: #f2462c;
    color: #fff;
    padding: 0.8rem;
    border-radius: 11px;
    align-self: flex-start;
    animation: anim-lineup 1s ease-out;
}

.right-header-menu {
    gap: 3rem;
}


/* MOBILE */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}


/**************************/
/* SECTION HERO */
/**************************/

.section-hero {
    padding: 16rem 30rem 26rem 30rem;
    text-align: center;
    background-image: linear-gradient(to right bottom,
            rgba(235, 151, 78, 0.5),
            rgba(230, 125, 34, 0.5)),
        url("../bg-image/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

.primary-heading {
    font-size: 8.4rem;
    font-family: 'Satisfy', cursive;
    padding: 2.4rem;
    margin-bottom: 4rem;
    background-color: rgb(131, 58, 180);
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 118, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    display: inline-block;
    position: relative;
}

.primary-heading::after {
    content: "2023";
    position: absolute;
    top: 87%;
    right: -3%;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 1rem;
    transform: rotate(18deg);
}

.primary-heading::before {
    content: "26-28 August";
    position: absolute;
    top: -35%;
    right: 42%;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 2rem;
    transform: rotate(-12deg);
}

.festival-location {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 7rem;
}

.in {
    font-size: 2.4rem;
    display: inline-block;
    color: #fff;
}

.city-link {
    font-size: 3rem;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 230, 29, 1) 50%, rgba(252, 176, 69, 1) 100%) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 400ms;
    --bg-h: 100%;
    padding-bottom: 2px;
    --bg-h: 3px;
}

.city-link:link,
.city-link:visited {
    color: #ffd43b;
    font-size: 3.2rem;
    font-weight: 700;
}

.city-link:hover,
.city-link:active {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    color: #edbb0a;
}

.hero-description {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 7rem;
    padding: 0px 1rem;
    line-height: 1.4;
    color: #fff;
}

/**************************/
/* SECTION LINEUP */
/**************************/
.section-lineup {
    background-color: #E1F4F7;
}

.section-textbox {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    margin-bottom: 4rem;
}

.lineup-box {
    padding: 3rem 15rem;
}

.lineup-name-link {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.3s;
}

.lineup-name-link:hover,
.lineup-name-link:active {
    background-color: #883feb;
    border-radius: 15px;
    transform: translateY(-1.2rem);
}

.lineup-artist-name-first-line {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 2.8rem;
    font-weight: 700;
}

.lineup-artist-nationality-first-line {
    font-size: 1.6rem;
    align-self: flex-start;
}

.lineup-artist-name-second-line {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 2.4rem;
    font-weight: 700;
}

.lineup-artist-nationality-second-line {
    font-size: 1.6rem;
    align-self: flex-start;
}

.lineup-img-box {
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-position: unset;
    padding: 14rem;
    position: relative;
    border-radius: 13px;
    overflow: hidden;
    transition: all 0.2s;
    filter: brightness(0.8);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.lineup-img-box:hover,
.lineup-img-box:active {
    border: 4px solid hsl(176, 68%, 40%);
    filter: brightness(1);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.lineup-img-1 {
    background-image: url(../lineup-image/markus-stephen-griffiths-MtSF6U6gy2Q-unsplash.jpg);
    background-position: center;
}

.lineup-img-2 {
    background-image: url(../lineup-image/jose-pinto-XR9ZJ_Q-BAI-unsplash.jpg);
}

.lineup-img-3 {
    background-image: url(../lineup-image/vidar-nordli-mathisen-ABHgx0QXFV0-unsplash.jpg);
}

.lineup-img-4 {
    background-image: url(../lineup-image/xandro-vandewalle-L2fD0IIpXXc-unsplash.jpg);
}

.lineup-img-5 {
    background-image: url(../lineup-image/jakayla-toney-pleAbnSa77g-unsplash.jpg);
}

.lineup-img-6 {
    background-image: url(../lineup-image/brian-lundquist-3dC4Einfda0-unsplash.jpg);
}

.lineup-img-7 {
    background-image: url(../lineup-image/anima-visual-WZz3e0GuZaM-unsplash.jpg);
}

/**************************/
/* SECTION TICKET */
/**************************/

.section-ticket {
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-color: #cbe7eb;
}

.ticket-box {
    padding: 4rem 24rem;
}

.ticket-card {
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 13px;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 30%);
    overflow: hidden;
    transition: all 0.2s;
    color: #fff;
    opacity: 0.8;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1.5px;
    word-spacing: 1.3px;
}

.ticket-bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../ticket-bg-images/luke-chesser-eICUFSeirc0-unsplash.jpg);
}

.ticket-type {
    margin: 0 auto;
    padding: 4rem 2rem;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    border-bottom: 1px solid hsl(235, 15%, 46%);
}

.ticket-price-range {
    padding: 3rem 2rem 4rem 2rem;
    margin: 0 auto;
    font-size: 2.6rem;
}

.cta-ticket {
    margin: 0 auto;
    padding: 0rem 4rem 4rem 4rem;
    font-size: 2.4rem;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.cta-ticket:hover,
.cta-ticket:active {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

.cta-ticket h3 {
    color: #883feb;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 40px;
}


.cta-ticket h3:hover,
.cta-ticket h3:active {
    color: #ffd43b;
    background-color: #883feb;
}

/**************************/
/* SECTION GALLERY */
/**************************/

.section-gallery {
    background-color: #E1F4F7;
}

.gallery-grid-box {
    padding: 2rem 16rem;
    row-gap: 3.6rem;
    margin-bottom: 5rem;
}

.gallery-img-box {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 28rem;
    border-radius: 13px;
    overflow: hidden;
    transition: all 0.3s;
    color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.gallery-img-box:hover,
.gallery-img-box:active {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-img-1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../gallery-image/danny-howe-6hJl9q0bPtI-unsplash.jpg);
}

.gallery-img-2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../gallery-image/matty-adame-CD6rkYFX2PA-unsplash.jpg);
}

.gallery-img-3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../gallery-image/tony-pham-FUmDe-Bx1LA-unsplash.jpg);
}

.gallery-img-4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../gallery-image/thiago-borrere-alvim-bf8APnBxoCk-unsplash.jpg);
}

.gallery-img-5 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../gallery-image/bobby-hendry-MD3rdOB5pxk-unsplash.jpg);
}

.gallery-img-6 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../gallery-image/colin-lloyd-W6_txbgkkeU-unsplash.jpg);
}

.gallery-img-7 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../gallery-image/nicholas-green-nPz8akkUmDI-unsplash.jpg);
}

.gallery-img-8 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -1.5)), url(../gallery-image/danny-howe-KFCNl0XFfUo-unsplash.jpg);
}

.gallery-name-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.gallery-year {
    font-size: 4.2rem;
    margin-top: 4rem;
}

.gallery-city {
    font-size: 2.4rem;
}

/**************************/
/* SECTION NEWSPAPER */
/**************************/

.section-newspaper {
    background-color: #cbe7eb;
    ;
}

.newspaper-box {
    grid-template-columns: 1.5fr 1fr;
    margin: 5rem 23rem 5rem 23rem;
    overflow: hidden;
    border-radius: 15px;
}

.newspaper-subscribe-text-box {
    margin: 0 auto;
    padding: 3rem 0;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 118, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 5rem;
}

.newspaper-subscribe-text-box h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

.newspaper-subscribe-text-box p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
    padding: 0.4rem;
    color: rgb(31, 31, 31);
}

.newspaper-img-box {
    display: block;
    overflow: hidden;
    background-image: url(../bg-image/newspaper-bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.cta-form {
    column-gap: 3.2rem;
    row-gap: 2.8rem;
}

.cta-form label {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.cta-form input {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #faf4ee;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.subscribe-button {
    width: 88%;
    text-align: center;
    align-self: flex-end;
    padding: 1.2rem;
    background-color: #883feb;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 600;
    border-radius: 16px;
}

.subscribe-button:hover,
.subscribe-button:active {
    background-color: #87189d;
    transform: translateY(-0.5rem);
}

.cta-form input::placeholder {
    color: #aaa;
}

.cta-form input:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* SECTION SPONSOR */
/**************************/


.section-sponsors {
    background-color: #46bed9;
}

.sponsors {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.donors-box {
    margin: 0 auto;
    align-self: center;
    column-gap: 2rem;
    row-gap: 4.8rem;
    padding: 0 12rem;
}

.donors-box img {
    width: 30%;
    /* filter: brightness(0) invert(1); */
}

/**************************/
/* SECTION FOLLOW-US */
/**************************/

.section-follow-us {
    background-color: #41afc7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.follow-us-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3.6rem;
}

.follow-social-media-icons-box {
    gap: 10rem;
    align-items: center;
    justify-content: space-between;
}

.follow-social-media-link {
    opacity: 0.6;
}

.follow-social-media-link:hover,
.follow-social-media-link:active {
    opacity: 1;
}

.follow-social-media-img {
    height: 4rem;
}


/**************************/
/* SECTION FO0TER */
/**************************/
.footer-box {
    background-color: #257c90;
    flex-direction: column;
    gap: 10rem;
}

.footer-title {
    font-size: 2.4rem;
}

.footer-links-box {
    margin: 0 auto;
    column-gap: 16rem;
    align-items: center;
}

.footer-link-box,
.footer-links {
    flex-direction: column;
}

.footer-link-box {
    gap: 2.8rem;
}

.footer-links {
    font-size: 1.8rem;
    gap: 2rem;
}

.footer-links:hover,
.footer-links:active {
    opacity: 0.7;
}


.footer-text {
    text-align: center;
    font-size: 1.8rem;
}

.copyright-text {
    margin-bottom: 2.4rem;
}